@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  user-select: none;
  outline: none;
}

body::-webkit-scrollbar {
  width: 0.4em;
  background-color: #475167;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #596058;

  border-radius: 20px;
}

#scrollSyn::-webkit-scrollbar {
  width: 6px; /* Adjust width */
  height: 6px;
}

#scrollSyn::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Change color */
  border-radius: 10px;
}

#scrollSyn::-webkit-scrollbar-track {
  background: transparent; /* Hide track */
}

#scrollSear::-webkit-scrollbar {
  width: 6px;
}

#scrollSear::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
